@font-face {
  font-family: "BNT";
  src: url("../fonts/bnt.ttf") format("truetype");
}

body {
  background: none;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  user-select: none;
}

.Box {
  position: absolute;
  bottom: 5vw;
  left: 1vw;
  width: 20vw;
  height: 24vw;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 1vw;
  box-shadow: 1px 1px 2px black;
}

.InnerBox {
  position: absolute;
  top: 0.25vw;
  left: 0.25vw;
  width: 19.5vw;
  height: 23.5vw;
  background: rgba(255, 255, 255, 0.55);
  border-radius: 1vw;
  box-shadow: 1px 1px 2px black;
  overflow: hidden;
}

input#ObjectName {
  position: absolute;
  top: 0.5vw;
  left: 1vw;
  width: 17.5vw;
  height: 2vw;
  font-family: bnt;
  font-size: 2vw;
  text-align: center;
}

button#ObjectNameUse {
  position: absolute;
  top: 2.5vw;
  left: 1vw;
  width: 17.5vw;
  height: 2vw;
  font-family: bnt;
  font-size: 2vw;
  border-radius: 1vw;
  border: none;
  box-shadow: 1px 1px 2px black;
}

input#BoneName {
  position: absolute;
  top: 5.5vw;
  left: 1vw;
  width: 17.5vw;
  height: 2vw;
  font-family: bnt;
  font-size: 2vw;
  text-align: center;
}

button#BoneNameUse {
  position: absolute;
  top: 7.5vw;
  left: 1vw;
  width: 17.5vw;
  height: 2vw;
  font-family: bnt;
  font-size: 2vw;
  border-radius: 1vw;
  border: none;
  box-shadow: 1px 1px 2px black;
}

.Slider {
  position: relative;
  float: left;
  top: -3vw;
  left: 1vw;
  width: 17vw;
  height: 2vw;
  -webkit-appearance: none;
  background: rgba(0, 0, 0, 0.25);
}
.Slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0.5vw;
  height: 3vh;
  background: #ffffff99;
  cursor: pointer;
}

button#SaveButton {
  position: absolute;
  bottom: 2.5vw;
  left: 2.25vw;
  width: 17.5vw;
  height: 2vw;
  font-family: bnt;
  font-size: 2vw;
  border-radius: 1vw;
  border: none;
  box-shadow: 1px 1px 2px black;
}

.SliderText {
  position: relative;
  left: 18.2vw;
  top: 10.55vw;
  margin-bottom: 0.8vw;
  font-family: bnt;
  font-size: 1.2vw;
}
