<body>
  <link href="css/newattachments.css" rel="stylesheet" />
  <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
    integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
    crossorigin="anonymous"
  />

  <div class="AttachmentBox">
    <div class="TitleBox">
      <span class="Title">Ped Decorator</span>
      <div class="TitleCloseButton" onclick="closeDecorator()">x</div>
    </div>
    <div class="AttachmentInnerBox">
      <div class="BoxButton" onclick="addNewObject()">Add Object</div>
      <div
        class="BoxButton DisableButton"
        id="chooseObjectButton"
        onclick="openWindow(`ChooseObject`)"
      >
        Choose Object
      </div>
      <div
        class="PrintObjects DisableButton"
        id="printObjectsButton"
        onclick="printObjects()"
      >
        Print Objects
      </div>
    </div>
  </div>

  <div class="AttachmentChooseBox" id="ChooseObject" style="display: none;">
    <div class="TitleBox">
      <span class="Title">Choose Object</span>
      <div class="TitleCloseButton" onclick="closeWindow(`ChooseObject`)">
        x
      </div>
    </div>
    <div class="AttachmentInnerBoxSecond" id="AttachmentObjectList"></div>
  </div>

  <div class="AttachmentEditObjectBox" id="EditObject" style="display: none;">
    <div class="TitleBox">
      <span class="Title">Edit Object</span>
      <div class="TitleCloseButton" onclick="closeWindow(`EditObject`)">
        x
      </div>
    </div>
    <div class="AttachmentInnerBoxSecond">
      <div class="AttachmentEditItem">
        <input
          class="editItemInput"
          id="editItemHash"
          type="text"
          value=""
          placeholder="Object Hash"
          maxlength="128"
        /><i
          class="far fa-check-square"
          id="editItemButton"
          onclick="updateObject('objectHash')"
        ></i>
      </div>
      <div class="AttachmentEditItem">
        <input
          class="editItemInput"
          id="editItemBone"
          type="number"
          value=""
          placeholder="Bone ID"
          min="0"
          max="99999"
        /><i
          class="far fa-check-square"
          id="editItemButton"
          onclick="updateObject('objectBone')"
        ></i>
      </div>

      <div class="AttachmentEditItem">
        <div class="AttachmentEditTitle">Position X</div>
        <div class="AttachmentEditSliderNumber" id="editItemPosXValue">0</div>
        <input
          class="editItemSlider"
          id="editItemSliderPosX"
          type="range"
          value="0"
          step="0.001"
          min="-2"
          max="2"
          oninput="updatePosAndRot()"
        />
      </div>
      <div class="AttachmentEditItem">
        <div class="AttachmentEditTitle">Position Y</div>
        <div class="AttachmentEditSliderNumber" id="editItemPosYValue">0</div>
        <input
          class="editItemSlider"
          id="editItemSliderPosY"
          type="range"
          value="0"
          step="0.001"
          min="-2"
          max="2"
          oninput="updatePosAndRot()"
        />
      </div>
      <div class="AttachmentEditItem">
        <div class="AttachmentEditTitle">Position Z</div>
        <div class="AttachmentEditSliderNumber" id="editItemPosZValue">0</div>
        <input
          class="editItemSlider"
          id="editItemSliderPosZ"
          type="range"
          value="0"
          step="0.001"
          min="-2"
          max="2"
          oninput="updatePosAndRot()"
        />
      </div>

      <div class="AttachmentEditItem">
        <div class="AttachmentEditTitle">Rotation X</div>
        <div class="AttachmentEditSliderNumber" id="editItemRotXValue">0</div>
        <input
          class="editItemSlider"
          id="editItemSliderRotX"
          type="range"
          value="0"
          step="0.1"
          min="0"
          max="360"
          oninput="updatePosAndRot()"
        />
      </div>
      <div class="AttachmentEditItem">
        <div class="AttachmentEditTitle">Rotation Y</div>
        <div class="AttachmentEditSliderNumber" id="editItemRotYValue">0</div>
        <input
          class="editItemSlider"
          id="editItemSliderRotY"
          type="range"
          value="0"
          step="0.1"
          min="0"
          max="360"
          oninput="updatePosAndRot()"
        />
      </div>
      <div class="AttachmentEditItem">
        <div class="AttachmentEditTitle">Rotation Z</div>
        <div class="AttachmentEditSliderNumber" id="editItemRotZValue">0</div>
        <input
          class="editItemSlider"
          id="editItemSliderRotZ"
          type="range"
          value="0"
          step="0.1"
          min="0"
          max="360"
          oninput="updatePosAndRot()"
        />
      </div>

      <div class="AttachmentEditItem">
        <i
          class="far fa-trash-alt"
          id="editItemButton"
          onclick="deleteObject()"
        ></i>
      </div>
    </div>
  </div>
</body>

<script>
  var objectList = [];
  var boneList = [
    {
      name: "Spine 1",
      id: 24816,
    },
    {
      name: "Spine 2",
      id: 24817,
    },
    {
      name: "Spine 3 (default)",
      id: 24818,
    },
    {
      name: "Head",
      id: 31086,
    },
    {
      name: "Right Hand",
      id: 57005,
    },
    {
      name: "Right Thumb Finger",
      id: 58866,
    },
    {
      name: "Right Index Finger",
      id: 58867,
    },
    {
      name: "Right Middle Finger",
      id: 58868,
    },
    {
      name: "Right Ring Finger",
      id: 58869,
    },
    {
      name: "Right Small Finger",
      id: 58870,
    },
    {
      name: "Right Foot",
      id: 52301,
    },
    {
      name: "Left Hand",
      id: 18905,
    },
    {
      name: "Left Thumb Finger",
      id: 26610,
    },
    {
      name: "Left Index Finger",
      id: 26611,
    },
    {
      name: "Left Middle Finger",
      id: 26612,
    },
    {
      name: "Left Ring Finger",
      id: 26613,
    },
    {
      name: "Left Small Finger",
      id: 26614,
    },
    {
      name: "Left Foot",
      id: 14201,
    },
  ];

  var editObjectId = 0;
  var objectAmount = 0;

  function closeWindow(Window) {
    document.getElementById(Window).style.display = "none";

    if (Window == "ChooseObject") {
      document.getElementById("EditObject").style.left = "1vw";
      document.getElementById("EditObject").style.borderTopRightRadius = "0vw";
      document.getElementById("EditObject").style.borderBottomLeftRadius =
        "2vw";
    }
  }

  function openWindow(Window) {
    if (objectList.length > 0) {
      document.getElementById(Window).style.display = "block";

      if (Window == "ChooseObject") {
        document.getElementById("EditObject").style.left = "21vw";
        document.getElementById("EditObject").style.borderTopRightRadius =
          "2vw";
        document.getElementById("EditObject").style.borderBottomLeftRadius =
          "0vw";
      }
    }
  }

  function deleteObject() {
    closeWindow("EditObject");
    objectList.map((item, index) => {
      if (item.id == editObjectId) {
        objectList.splice(index, 1);
      }
    });
    alt.emit("AttachmentEditor:deleteObject", editObjectId);
    editObjectId = 0;
    updateObjectList();
  }

  function updatePosAndRot() {
    var PosX = document.getElementById("editItemSliderPosX").value;
    var PosY = document.getElementById("editItemSliderPosY").value;
    var PosZ = document.getElementById("editItemSliderPosZ").value;
    var RotX = document.getElementById("editItemSliderRotX").value;
    var RotY = document.getElementById("editItemSliderRotY").value;
    var RotZ = document.getElementById("editItemSliderRotZ").value;

    document.getElementById("editItemPosXValue").innerText = PosX;
    document.getElementById("editItemPosYValue").innerText = PosY;
    document.getElementById("editItemPosZValue").innerText = PosZ;
    document.getElementById("editItemRotXValue").innerText = RotX;
    document.getElementById("editItemRotYValue").innerText = RotY;
    document.getElementById("editItemRotZValue").innerText = RotZ;

    var editObjectData = {};

    objectList.map((item) => {
      if (item.id == editObjectId) {
        item.posX = PosX;
        item.posY = PosY;
        item.posZ = PosZ;
        item.rotX = RotX;
        item.rotY = RotY;
        item.rotZ = RotZ;
        editObjectData = item;
      }
    });

    alt.emit("AttachmentEditor:updateObject", editObjectData);
  }

  function closeDecorator() {
    alt.emit("AttachmentEditor:close");
  }

  function updateObject(Type) {
    var editObjectData = {};
    switch (Type) {
      case "objectHash": {
        var newObjectHash = document.getElementById("editItemHash").value;
        objectList.map((item) => {
          if (item.id == editObjectId) {
            item.hash = newObjectHash;
            editObjectData = item;
          }
        });
        updateObjectList();
        break;
      }
      case "objectBone": {
        var newObjectBone = document.getElementById("editItemBone").value;
        objectList.map((item) => {
          if (item.id == editObjectId) {
            item.bone = newObjectBone;
            editObjectData = item;
          }
        });
        updateObjectList();
        break;
      }
    }

    alt.emit("AttachmentEditor:updateObject", editObjectData);
  }

  function printObjects() {
    if (objectList.length > 0) {
      alt.emit("AttachmentEditor:logAttachment");
    }
  }

  function chooseObject(objectId) {
    editObjectId = objectId;
    objectList.map((item) => {
      if (item.id == objectId) {
        document.getElementById("editItemHash").value = item.hash;
        document.getElementById("editItemBone").value = item.bone;
        document.getElementById("editItemSliderPosX").value = item.posX;
        document.getElementById("editItemSliderPosY").value = item.posY;
        document.getElementById("editItemSliderPosZ").value = item.posZ;
        document.getElementById("editItemSliderRotX").value = item.rotX;
        document.getElementById("editItemSliderRotY").value = item.rotY;
        document.getElementById("editItemSliderRotZ").value = item.rotZ;
        document.getElementById("editItemPosXValue").innerText = item.posX;
        document.getElementById("editItemPosYValue").innerText = item.posY;
        document.getElementById("editItemPosZValue").innerText = item.posZ;
        document.getElementById("editItemRotXValue").innerText = item.rotX;
        document.getElementById("editItemRotYValue").innerText = item.rotY;
        document.getElementById("editItemRotZValue").innerText = item.rotZ;
      }
    });
    openWindow("EditObject");
  }

  function addNewObject() {
    objectList.push({
      id: objectAmount,
      hash: "ng_proc_crate_03a",
      bone: 24818,
      posX: 0,
      posY: 0,
      posZ: 0,
      rotX: 0,
      rotY: 0,
      rotZ: 0,
    });

    var chooseObjectButton = document.getElementById("chooseObjectButton");
    chooseObjectButton.classList.remove("DisableButton");
    var printObjectsButton = document.getElementById("printObjectsButton");
    printObjectsButton.classList.remove("DisableButton");

    updateObjectList();
    alt.emit(
      "AttachmentEditor:addNewObject",
      objectAmount,
      "ng_proc_crate_03a",
      24816
    );
    objectAmount++;
  }

  function updateObjectList() {
    var currentObjectList = "";

    objectList.map((item, index) => {
      currentObjectList +=
        "<div class='ChooseObjectItem' onclick='chooseObject(" +
        item.id +
        ")'>" +
        `<div class='ChooseObjectItemTitle'>Object #${item.id}</div>` +
        `<div class='ChooseObjectItemName'>${item.hash}</div>` +
        "</div>";
    });

    $("#AttachmentObjectList").html(currentObjectList);
  }
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
